[master]
# The host IP/port to which to bind the master
bind = "{{ master.bind }}"

# How many slaves to expect to connect before starting the load test
expect_slaves = {{ master.expect_slaves }}

# How long to wait for slaves to connect before considering the load test a
# failure (if not all slaves have connected within this time period)
expect_slaves_within = "{{ master.expect_slaves_within }}"

# The folder where tm-load-test will dump results.
results_dir = "{{ master.results_dir }}"

[slave]
# The IP address/port to which to bind the slave node. Leave out the port to
# pick a random port.
bind = "{{ slave.bind }}"

# IP address and port through which to reach the master (could be different
# from the bind address above, e.g. if the master is bound to 0.0.0.0:35000,
# we still need an external address through which to access the master).
master = "{{ slave.master }}"

# The interval at which stats updates will be sent to the master. Note that this
# is approximate - due to the nature of the client interaction loop. Updates are
# sent back to the master in a "best effort" fashion.
update_interval = "{{ slave.update_interval }}"

[test_network]
# Do we want to collect Prometheus stats during the load testing too?
enable_prometheus = {{ test_network.enable_prometheus }}
# How often to poll the Prometheus endpoint for each host
prometheus_poll_interval = "{{ test_network.prometheus_poll_interval }}"
# At what point do we consider a Prometheus polling operation a failure?
prometheus_poll_timeout = "{{ test_network.prometheus_poll_timeout }}"

    {% for target in test_network.targets %}[[test_network.targets]]
    id = "{{ target.id }}"
    url = "{{ target.url }}"
    prometheus_urls = "{{ target.prometheus_urls }}"

    {% endfor %}

[clients]
# What type of client to spawn. The `tmrpc` type uses the Tendermint client for
# interacting with remote Tendermint nodes' RPC endpoints.
type = "{{ clients.type }}"

# The number of clients to spawn per slave.
spawn = {{ clients.spawn }}

# The rate at which new clients should be spawned on each slave, per second.
# A value of 10 would mean that every second, 10 new clients will be spawned on
# each slave. A value of 0.1 would mean that only 1 client will be spawned
# every 10 seconds.
spawn_rate = {{ clients.spawn_rate }}

# The maximum number of interactions to send, per client. Since tm-load-test
# assumes the kvstore ABCI application is running, an interaction is defined
# as 2 separate requests: a single PUT operation for a key/value pair, followed
# by a GET operation for that same key, ensuring the stored value matches the
# returned value. Set to -1 to make this "infinite", but then the
# `max_test_time` parameter MUST be set.
max_interactions = {{ clients.max_interactions }}

# The maximum amount of time to allow for load testing. If this is exceeded,
# the test will be brought to and end.
max_test_time = "{{ clients.max_test_time }}"

# The maximum time to wait before each request in an interaction. The actual
# wait times will be uniformly randomly distributed between `request_wait_min`
# and `request_wait_max`.
request_wait_min = "{{ clients.request_wait_min }}"

# The minimum time to wait before request in an interaction.
request_wait_max = "{{ clients.request_wait_max }}"

# After how long do we consider a request to have timed out?
request_timeout = "{{ clients.request_timeout }}"

# After how long do we consider an interaction to have timed out?
interaction_timeout = "{{ clients.interaction_timeout }}"
