[Unit]
Description=Tendermint Outage Simulator
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=outage-sim
Group=outage-sim
PermissionsStartOnly=true
ExecStart=/usr/bin/tm-outage-sim-server -addr 0.0.0.0:{{ outage_sim_port }} -u {{ outage_sim_user }} -p "{{ outage_sim_password_hash }}"
KillSignal=SIGTERM
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
LimitMEMLOCK=infinity
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=outage-sim

[Install]
WantedBy=multi-user.target
