[Unit]
Description=Tendermint Outage Simulator Server
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=root
Group=root
PermissionsStartOnly=true
ExecStart=/usr/bin/tm-outage-sim-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tm-outage-sim-server

[Install]
WantedBy=multi-user.target
