name: Lint
# Lint runs golangci-lint over the entire repository
# This workflow is run on every pull request and push to master
# The `golangci` job will pass without running if no *.{go, mod, sum} files have been modified.
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 4
    steps:
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: latest
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
