name: Test Coverage
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ">=1.20"
          check-latest: true
      - run: make integration-test
      - uses: codecov/codecov-action@v3.1.4
        with:
          file: ./coverage.txt
